.App {
  text-align: center;
  padding: 25px;
}

.container {
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  width: fit-content;
  padding: 15px;
  border-radius: 25px;
}

h2 {
  margin: 0 auto;
  opacity: 100%;
  width: fit-content;
  padding: 15px;
  color: #ff4500;
}
.year {
  color: #ff4500;
  padding-top: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: #ff4500;
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #00ff00;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.marsImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes show {
  0% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }
}

.showImage {
  animation: show;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.hideImage {
  animation: hide;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
